@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* toolbar buttons icons */

#back-button               { list-style-image: url("moz-icon://stock/previous?size=dialog") !important }
#forward-button            { list-style-image: url("moz-icon://stock/next?size=dialog") !important }
#home-button               { list-style-image: url("moz-icon://stock/go-home?size=dialog") !important }
#reload-button             { list-style-image: url("moz-icon://stock/gtk-refresh?size=dialog") !important }
#stop-button               { list-style-image: url("moz-icon://stock/gtk-stop?size=dialog") !important }
#cut-button                { list-style-image: url("moz-icon://stock/edit-cut?size=dialog") !important }
#copy-button               { list-style-image: url("moz-icon://stock/edit-copy?size=dialog") !important }
#paste-button              { list-style-image: url("moz-icon://stock/edit-paste?size=dialog") !important }
#zoom-out-button           { list-style-image: url("moz-icon://stock/remove?size=dialog") !important }
#zoom-in-button            { list-style-image: url("moz-icon://stock/add?size=dialog") !important }
#library-button            { list-style-image: url("moz-icon://stock/applications-libraries?size=dialog") !important }
#developer-button          { list-style-image: url("moz-icon://stock/applications-development?size=dialog") !important }
#print-button              { list-style-image: url("moz-icon://stock/document-print?size=dialog") !important }
#bookmarks-menu-button     { list-style-image: url("moz-icon://stock/user-bookmarks?size=dialog") !important }
#fullscreen-button         { list-style-image: url("moz-icon://stock/window_fullscreen?size=dialog") !important }
*|*:root[inFullscreen] #fullscreen-button
                           { list-style-image: url("moz-icon://stock/window_nofullscreen?size=dialog") !important }
#new-window-button         { list-style-image: url("moz-icon://stock/stock_new-window?size=dialog") !important }
#panic-button              { list-style-image: url("moz-icon://stock/gtk-delete?size=dialog") !important }
#email-link-button         { list-style-image: url("moz-icon://stock/mail-send?size=dialog") !important }
#preferences-button        { list-style-image: url("moz-icon://stock/gtk-preferences?size=dialog") !important }
#characterencoding-button  { list-style-image: url("moz-icon://stock/font?size=dialog") !important }
#sidebar-button            { list-style-image: url("moz-icon://stock/go-last?size=dialog") !important }
#find-button               { list-style-image: url("moz-icon://stock/find?size=dialog") !important }
#open-file-button          { list-style-image: url("moz-icon://stock/gtk-open?size=dialog") !important }
#save-page-button          { list-style-image: url("moz-icon://stock/gtk-save?size=dialog") !important }
#privatebrowsing-button    { list-style-image: url("moz-icon://stock/avatar-default?size=dialog") !important }
#sync-button               { list-style-image: url("moz-icon://stock/emblem-shared?size=dialog") !important }
#logins-button             { list-style-image: url("moz-icon://stock/dialog-password?size=dialog") !important }
#screenshot-button         { list-style-image: url("moz-icon://stock/camera?size=dialog") !important }
#save-to-pocket-button     { list-style-image: url("moz-icon://stock/stock_todo?size=dialog") !important }
#import-button             { list-style-image: url("moz-icon://stock/bookmarks_list_add?size=dialog") !important }
#history-panelmenu         { list-style-image: url("moz-icon://stock/document-open-recent?size=dialog") !important }
#unified-extensions-button { list-style-image: url("moz-icon://stock/extension?size=dialog") !important }
#nav-bar-overflow-button   { list-style-image: url("moz-icon://stock/go-jump?size=dialog") !important }
#PanelUI-menu-button .toolbarbutton-icon
                           { list-style-image: url("moz-icon://stock/open-menu?size=dialog") !important }

/* disable animation of stop/reload button */
#stop-reload-button .toolbarbutton-animatable-image{ animation-duration: 0s !important; }

/* change icons in history/bookmarks editor */

#placesToolbar > toolbarbutton > .toolbarbutton-icon
{
  /* forward/back buttons are already changed by #back-button and #forward-button, but their size needs to be adjusted */
  width: 20px !important;
  height: 20px !important;
}
treechildren::-moz-tree-image(query, OrganizerQuery_history____v) {
  list-style-image: url("moz-icon://stock/document-open-recent?size=dialog") !important;
}
treechildren::-moz-tree-image(query, OrganizerQuery_downloads__v) {
  list-style-image: url("moz-icon://stock/go-bottom?size=dialog") !important;
}
treechildren::-moz-tree-image(query, OrganizerQuery_tags_______v) {
  list-style-image: url("moz-icon://stock/stock_edit?size=dialog") !important;
}

/* context menu icons */

#context-back                       { list-style-image: url("moz-icon://stock/previous?size=dialog") !important }
#context-forward                    { list-style-image: url("moz-icon://stock/next?size=dialog") !important }
#context-reload                     { list-style-image: url("moz-icon://stock/gtk-refresh?size=dialog") !important }
#context-stop                       { list-style-image: url("moz-icon://stock/gtk-stop?size=dialog") !important }
#context-bookmarkpage               { list-style-image: url("moz-icon://stock/bookmark-missing?size=dialog") !important}
#context-bookmarkpage[starred=true] { list-style-image: url("moz-icon://stock/user-bookmarks?size=dialog") !important }
/*#context-savepage                 { list-style-image: url("moz-icon://stock/starred?size=dialog") !important } */
#context-navigation > .menuitem-iconic > hbox > .menu-iconic-icon {
  width: 40px !important;
  height: 40px !important;
}

/* bookmarks bar */

/* not working? */
/* .bookmark-item { list-style-image: url("moz-icon://stock/applications-internet?size=menubar") !important; } */

.bookmark-item[container], treechildren::-moz-tree-image(title, container) {
  list-style-image: url("moz-icon://stock/gtk-directory?size=toolbar") !important;
}

#PlacesChevron
{
  list-style-image: url("moz-icon://stock/go-jump?size=dialog") !important;
  appearance: toolbarbutton !important;
  height: 26px !important;
  width: 24px !important;
}
#PlacesChevron > .toolbarbutton-icon
{
  padding: 2px !important;
  height: 20px !important;
  width: 20px !important;
}
/*
#nav-bar .toolbarbutton-icon {
  width: 26px !important;
  height: 26px !important;
}

:root:not([uidensity=compact]) #nav-bar .toolbarbutton-icon {
  width: 24px !important;
  height: 24px !important;
}
:root[uidensity=touch] #nav-bar .toolbarbutton-icon {
  width: 32px !important;
  height: 32px !important;
}
*/

/* downloads button */

#downloads-indicator-icon { list-style-image: url("moz-icon://stock/go-bottom?size=dialog") !important; }

*|*:root[uidensity=compact] #downloads-indicator-anchor,
*|*:root[uidensity=compact] #downloads-indicator-progress-inner,
*|*:root[uidensity=compact] #downloads-indicator-progress-outer
{
  width: 22px !important;
  height: 22px !important;
}
#downloads-indicator-anchor,
#downloads-indicator-progress-inner,
#downloads-indicator-progress-outer 
{
  width: 26px !important;
  height: 26px !important;
}
*|*:root[uidensity=touch] #downloads-indicator-anchor,
*|*:root[uidensity=touch] #downloads-indicator-progress-inner,
*|*:root[uidensity=touch] #downloads-indicator-progress-outer
{
  width: 28px !important;
  height: 28px !important;
}

*|*:root[uidensity=compact] #downloads-indicator-progress-outer
{
  top: calc(50% - 11px) !important;
  left: calc(50% - 11px) !important;
}
#downloads-indicator-progress-outer {
  top: calc(50% - 13px) !important;
  left: calc(50% - 13px) !important;
}
*|*:root[uidensity=touch] #downloads-indicator-progress-outer{
  top: calc(50% - 14px) !important;
  left: calc(50% - 14px) !important;
}

.downloadIconCancel > .button-box > .button-icon
  { list-style-image: url("moz-icon://stock/gtk-stop?size=dialog") !important; }
.downloadIconShow > .button-box > .button-icon
  { list-style-image: url("moz-icon://stock/gtk-directory?size=toolbar") !important; }
.downloadIconRetry > .button-box > .button-icon
  { list-style-image: url("moz-icon://stock/gtk-refresh?size=dialog") !important; }
.downloadIconSubviewArrow > .button-box > .button-icon
  { list-style-image: url("moz-icon://stock/previous?size=dialog") !important; }
.downloadIconSubviewArrow > .button-box > .button-icon:-moz-locale-dir(ltr)
  { list-style-image: url("moz-icon://stock/next?size=dialog") !important; }


/* change icons of hamburger menu */

.panel-subview-body > toolbarbutton > .toolbarbutton-icon,
.panel-subview-footer-button > .toolbarbutton-icon,
#appmenu-developer-tools-view > toolbarbutton > .toolbarbutton-icon
{
  width: 16px !important;
  height: 16px !important;
  margin-right: 8px !important;
}
#appMenu-new-tab-button2            { list-style-image: url("moz-icon://stock/stock_new-tab?size=dialog") }
#appMenu-new-window-button2         { list-style-image: url("moz-icon://stock/window_new?size=dialog") }
#appMenu-new-private-window-button2 { list-style-image: url("moz-icon://stock/avatar-default?size=dialog") }
#appMenu-bookmarks-button           { list-style-image: url("moz-icon://stock/user-bookmarks?size=dialog") }
#appMenu-history-button             { list-style-image: url("moz-icon://stock/document-open-recent?size=dialog") }
#appMenu-downloads-button           { list-style-image: url("moz-icon://stock/go-bottom?size=dialog") }
#appMenu-passwords-button           { list-style-image: url("moz-icon://stock/dialog-password?size=dialog") }
#appMenu-extensions-themes-button   { list-style-image: url("moz-icon://stock/extension?size=dialog") }
#appMenu-print-button2              { list-style-image: url("moz-icon://stock/document-print?size=dialog") }
#appMenu-save-file-button2          { list-style-image: url("moz-icon://stock/gtk-save?size=dialog") }
#appMenu-find-button2               { list-style-image: url("moz-icon://stock/search?size=dialog") }
#appMenu-translate-button           { list-style-image: url("moz-icon://stock/gnome-translate?size=dialog") }
#appMenu-settings-button            { list-style-image: url("moz-icon://stock/gtk-preferences?size=dialog") }
#appMenu-more-button2               { list-style-image: url("moz-icon://stock/preferences-other?size=dialog") }
#appMenu-help-button2               { list-style-image: url("moz-icon://stock/help?size=dialog") }
#appMenu-quit-button2               { list-style-image: url("moz-icon://stock/gtk-quit?size=dialog") }

#appMenu-zoomReduce-button2 > .toolbarbutton-icon  { list-style-image: url("moz-icon://stock/remove?size=dialog") }
#appMenu-zoomEnlarge-button2 > .toolbarbutton-icon { list-style-image: url("moz-icon://stock/add?size=dialog") }
#appMenu-fullscreen-button2 > .toolbarbutton-icon  { list-style-image: url("moz-icon://stock/window_fullscreen?size=dialog") }
*|*:root[inFullscreen] #appMenu-fullscreen-button2 > .toolbarbutton-icon 
                                                   { list-style-image: url("moz-icon://stock/window_nofullscreen?size=dialog") }

/* change icons of bookmarks submenu */

#panelMenuBookmarkThisPage                 { list-style-image: url("moz-icon://stock/bookmark_add?size=dialog") }
#panelMenuBookmarkThisPage[starred="true"] { list-style-image: url("moz-icon://stock/stock_edit?size=dialog") }
#panelMenu_searchBookmarks                 { list-style-image: url("moz-icon://stock/search?size=dialog") }
#panelMenu_viewBookmarksToolbar            { list-style-image: url("moz-icon://stock/user-bookmarks?size=dialog") }
#panelMenu_showAllBookmarks                { list-style-image: url("moz-icon://stock/gtk-edit?size=dialog") }

/* change icons of history submenu */
#appMenuRecentlyClosedTabs             { list-style-image: url("moz-icon://stock/tab_new?size=dialog") }
#appMenu-library-recentlyClosedTabs    { list-style-image: url("moz-icon://stock/tab_new?size=dialog") }
#appMenuRecentlyClosedWindows          { list-style-image: url("moz-icon://stock/stock_new-window?size=dialog") }
#appMenu-library-recentlyClosedWindows { list-style-image: url("moz-icon://stock/stock_new-window?size=dialog") }
#appMenuSearchHistory                  { list-style-image: url("moz-icon://stock/search?size=dialog") }
#appMenuClearRecentHistory             { list-style-image: url("moz-icon://stock/stock_not?size=dialog") }
#PanelUI-historyMore                   { list-style-image: url("moz-icon://stock/document-open-recent?size=dialog") }

/* change icons of "other tools" submenu */
#appmenu-moreTools-button                 { list-style-image: url("moz-icon://stock/gtk-preferences?size=dialog") }
#appmenu-developer-tools-view  > toolbarbutton[key="key_toggleToolbox"] { list-style-image: url("moz-icon://stock/applications-debugging?size=dialog") }
#appmenu-developer-tools-view  > toolbarbutton[key="key_aboutProcesses"] { list-style-image: url("moz-icon://stock/gnome-monitor?size=dialog") }
#appmenu-developer-tools-view  > toolbarbutton[key="key_browserToolbox"] { list-style-image: url("moz-icon://stock/preferences-other?size=dialog") }
#appmenu-developer-tools-view  > toolbarbutton[key="key_browserConsole"] { list-style-image: url("moz-icon://stock/terminal?size=dialog") }
#appmenu-developer-tools-view  > toolbarbutton[key="key_responsiveDesignMode"] { list-style-image: url("moz-icon://stock/phone?size=dialog") }
#appmenu-developer-tools-view  > toolbarbutton[key="key_viewSource"] { list-style-image: url("moz-icon://stock/text-xml?size=dialog") }

/* change icons of help submenu */
#appMenu_menu_openHelp                 { list-style-image: url("moz-icon://stock/help?size=dialog") }
#appMenu_feedbackPage { list-style-image: url("moz-icon://stock/dialog-ok?size=dialog") }
#appMenu_helpSafeMode { list-style-image: url("moz-icon://stock/applications-debugging?size=dialog") }
#appMenu_troubleShooting { list-style-image: url("moz-icon://stock/info?size=dialog") }
#appMenu_menu_HelpPopup_reportPhishingtoolmenu { list-style-image: url("moz-icon://stock/dialog-warning?size=dialog") }
#appMenu_helpSwitchDevice { list-style-image: url("moz-icon://stock/computer?size=dialog") }
#appMenu_aboutName { list-style-image: url("moz-icon://stock/firefox?size=dialog") }


/* change icons of urlbar and searchbar */

.searchbar-search-icon {
  list-style-image: url("moz-icon://stock/search?size=dialog") !important;
}
.searchbar-search-icon-overlay {
  .searchbar-search-button[addengines=true] > & {
    list-style-image: url("moz-icon://stock/gtk-add?size=dialog") !important;
  }
  .searchbar-search-button:hover:not([addengines=true]) > & {
    list-style-image: url("moz-icon://stock/go-jump?size=menu") !important;
  }
}
.search-go-button.urlbar-icon {
  list-style-image:  url("moz-icon://stock/go-right?size=menu") !important;
}
.search-panel-tree > .autocomplete-richlistitem[originaltype="fromhistory"] > .ac-type-icon {
  list-style-image:  url("moz-icon://stock/document-open-recent?size=dialog") !important;
}
.search-setting-button > .button-box > .button-icon {
  list-style-image:  url("moz-icon://stock/stock_properties?size=dialog") !important;
}
/*
.urlbar-history-dropmarker {
  list-style-image:  url("moz-icon://stock/go-down?size=menu") !important;
}
.urlbar-history-dropmarker > .dropmarker-icon {
  width: 16px !important;
  height: 16px !important;
}
#urlbar[pageproxystate="invalid"] > #identity-box > #identity-icon {
  list-style-image: url("moz-icon://stock/search?size=menu") !important;
}
#pageActionButton {
  list-style-image: url("moz-icon://stock/go-jump?size=menu") !important;
}
*/
/*
#identity-icon {
  list-style-image: url("moz-icon://stock/info?size=menu") !important;
}*/
#star-button {
  list-style-image: url("moz-icon://stock/non-starred?size=dialog") !important;
}
#star-button[starred] {
  list-style-image: url("moz-icon://stock/starred?size=dialog") !important;
}
#reader-mode-button-icon {
  list-style-image: url("moz-icon://stock/document?size=menu") !important;
}
#translations-button-icon {
  list-style-image: url("moz-icon://stock/gnome-translate?size=menu") !important;
}

/* urlbar identity icon */

#identity-icon
  { list-style-image: url("moz-icon://stock/info?size=menu") !important; }
#identity-box[pageproxystate="valid"].chromeUI #identity-icon
  { list-style-image: url("moz-icon://stock/firefox?size=toolbar") !important; 
}
#identity-box[pageproxystate="valid"].localResource #identity-icon
  { list-style-image: url("moz-icon://stock/document?size=toolbar") !important; }
#identity-box[pageproxystate="invalid"] #identity-icon
  { list-style-image: url("moz-icon://stock/search?size=toolbar") !important; }
#urlbar[actiontype="extension"] > .urlbar-input-container > #identity-box #identity-icon
  { list-style-image: url("moz-icon://stock/extension?size=toolbar") !important; }
#identity-box[pageproxystate="valid"].extensionPage #identity-icon
  { list-style-image: url("moz-icon://stock/extension?size=toolbar") !important; }
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon
  { list-style-image: url("moz-icon://stock/gtk-yes?size=toolbar") !important; }
#identity-box[pageproxystate="valid"].weakCipher #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContent #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContentLoadedActiveBlocked #identity-icon,
#identity-box[pageproxystate="valid"].certUserOverridden #identity-icon,
#identity-box[pageproxystate="valid"].certErrorPage #identity-icon
  { list-style-image: url("moz-icon://stock/dialog-warning?size=toolbar") !important; }
#identity-box[pageproxystate="valid"].notSecure #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon,
#identity-box[pageproxystate="valid"].httpsOnlyErrorPage #identity-icon
  { list-style-image: url("moz-icon://stock/gtk-no?size=toolbar") !important; }
#permissions-granted-icon
  { list-style-image: url("moz-icon://stock/gtk-preferences?size=toolbar") !important; }


/* urlbar sharing icon */

#webrtc-sharing-icon[sharing="camera"]     { list-style-image: url("moz-icon://stock/camera?size=toolbar") !important; }
#webrtc-sharing-icon[sharing="microphone"] { list-style-image: url("moz-icon://stock/microphone?size=toolbar") !important; }
#webrtc-sharing-icon[sharing="screen"]     { list-style-image: url("moz-icon://stock/display?size=toolbar") !important; }
#geo-sharing-icon[sharing]                 { list-style-image: url("moz-icon://stock/mark-location?size=toolbar") !important; }

/* urlbar tracking protection icon */

.urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box {
  list-style-image: url("moz-icon://stock/security-medium?size=toolbar") !important;

  &[active] {
  list-style-image: url("moz-icon://stock/security-high?size=toolbar") !important;
  }

  &[hasException] {
  list-style-image: url("moz-icon://stock/security-low?size=toolbar") !important;
  }
}

/* change urlbar menu icons */
#urlbar-engine-one-off-item-bookmarks{
  list-style-image: url("moz-icon://stock/user-bookmarks?size=toolbar") !important;
  }
#urlbar-engine-one-off-item-tabs{
  list-style-image: url("moz-icon://stock/tab_new?size=toolbar") !important;
  }
#urlbar-engine-one-off-item-history{
  list-style-image: url("moz-icon://stock/document-open-recent?size=toolbar") !important;
  }
/* icons in sidebar switcher */

#sidebar-switcher-bookmarks > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("moz-icon://stock/starred?size=menu") !important;
  width: 16px !important;
  height: 16px !important;
}

#sidebar-switcher-history > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("moz-icon://stock/document-open-recent?size=menu") !important;
  width: 16px !important;
  height: 16px !important;
}

#sidebar-switcher-tabs > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("moz-icon://stock/emblem-shared?size=menu") !important;
  width: 16px !important;
  height: 16px !important;
}

#sidebar-close
{
  list-style-image: url("moz-icon://stock/gtk-close?size=menu") !important;
  width: 20px !important;
  height: 20px !important;
  appearance: toolbarbutton !important;
}

#sidebar-switcher-arrow
{
  list-style-image: url("moz-icon://stock/go-jump?size=dialog") !important;
  width: 16px !important;
  height: 16px !important;
}

.textbox-search-sign
{
  list-style-image: url("moz-icon://stock/search?size=dialog") !important;
  width: 16px !important;
  height: 16px !important;
}

/* extensions menu settings button */
.unified-extensions-item-menu-button
{
  list-style-image: url("moz-icon://stock/stock_properties?size=dialog") !important;
}

/* translation settigs button icon */
#translations-panel-settings .toolbarbutton-icon
{
  list-style-image: url("moz-icon://stock/stock_properties?size=dialog") !important;
  width: 24px !important;
  padding: 3px !important;
}

/* icons in "edit bookmarks" panel */
.folder-icon {
  list-style-image: url("moz-icon://stock/gtk-directory?size=toolbar") !important;
}

#editBMPanel_folderMenuList[selectedGuid="toolbar_____"],
#editBMPanel_toolbarFolderItem {
  list-style-image: url("moz-icon://stock/user-bookmarks?size=toolbar") !important;
}

#editBMPanel_folderMenuList[selectedGuid="menu________"],
#editBMPanel_bmRootItem {
  list-style-image: url("moz-icon://stock/gtk-index?size=toolbar") !important;
}

/* buttons in find bar */
.findbar-find-previous {list-style-image: url("moz-icon://stock/go-up?size=menu") !important}
.findbar-find-next     {list-style-image: url("moz-icon://stock/go-down?size=menu") !important}
.findbar-closebutton   {list-style-image: url("moz-icon://stock/gtk-close?size=menu") !important}

