@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);


/* change buttons icons */

#back-button 
{
  list-style-image: url("moz-icon://stock/previous?size=menu") !important;
}
:root:not([uidensity=compact]) #back-button
{
  list-style-image: url("moz-icon://stock/previous?size=toolbar") !important;
}
:root[uidensity=touch] #back-button
{
  list-style-image: url("moz-icon://stock/previous?size=dialog") !important;
}

#forward-button
{
  list-style-image: url("moz-icon://stock/next?size=menu") !important;
}
:root:not([uidensity=compact]) #forward-button
{
  list-style-image: url("moz-icon://stock/next?size=toolbar") !important;
}
:root[uidensity=touch] #forward-button
{
  list-style-image: url("moz-icon://stock/next?size=dialog") !important;
}

#home-button
{
  list-style-image: url("moz-icon://stock/go-home?size=menu") !important;
}
:root:not([uidensity=compact]) #home-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/go-home?size=toolbar") !important;
}
:root[uidensity=touch] #home-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/go-home?size=dialog") !important;
}

#reload-button
{
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu") !important;
}
:root:not([uidensity=compact]) #reload-button
{
  list-style-image: url("moz-icon://stock/gtk-refresh?size=toolbar") !important;
}
:root[uidensity=touch] #reload-button
{
  list-style-image: url("moz-icon://stock/gtk-refresh?size=dialog") !important;
}

#stop-button
{
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu") !important;
}
:root:not([uidensity=compact]) #stop-button
{
  list-style-image: url("moz-icon://stock/gtk-stop?size=toolbar") !important;
}
:root[uidensity=touch] #stop-button
{
  list-style-image: url("moz-icon://stock/gtk-stop?size=dialog") !important;
}

#edit-controls > #cut-button
{
  list-style-image: url("moz-icon://stock/edit-cut?size=menu") !important;
}
:root:not([uidensity=compact]) #edit-controls[cui-areatype="toolbar"] > #cut-button
{
  list-style-image: url("moz-icon://stock/edit-cut?size=toolbar") !important;
}
:root[uidensity=touch] #edit-controls[cui-areatype="toolbar"] > #cut-button
{
  list-style-image: url("moz-icon://stock/edit-cut?size=dialog") !important;
}

#edit-controls > #copy-button
{
  list-style-image: url("moz-icon://stock/edit-copy?size=menu") !important;
}
:root:not([uidensity=compact]) #edit-controls[cui-areatype="toolbar"] > #copy-button
{
  list-style-image: url("moz-icon://stock/edit-copy?size=toolbar") !important;
}
:root[uidensity=touch] #edit-controls[cui-areatype="toolbar"] > #copy-button
{
  list-style-image: url("moz-icon://stock/edit-copy?size=dialog") !important;
}

#edit-controls > #paste-button
{
  list-style-image: url("moz-icon://stock/edit-paste?size=menu") !important;
}
:root:not([uidensity=compact]) #edit-controls[cui-areatype="toolbar"] > #paste-button
{
  list-style-image: url("moz-icon://stock/edit-paste?size=toolbar") !important;
}
:root[uidensity=touch] #edit-controls[cui-areatype="toolbar"] > #paste-button
{
  list-style-image: url("moz-icon://stock/edit-paste?size=dialog") !important;
}

#zoom-controls > #zoom-out-button
{
  list-style-image: url("moz-icon://stock/remove?size=menu") !important;
}
:root:not([uidensity=compact]) #zoom-controls[cui-areatype="toolbar"] > #zoom-out-button
{
  list-style-image: url("moz-icon://stock/remove?size=toolbar") !important;
}
:root[uidensity=touch] #zoom-controls[cui-areatype="toolbar"] > #zoom-out-button
{
  list-style-image: url("moz-icon://stock/remove?size=dialog") !important;
}

#zoom-controls > #zoom-in-button
{
  list-style-image: url("moz-icon://stock/add?size=menu") !important;
}
:root:not([uidensity=compact]) #zoom-controls[cui-areatype="toolbar"] > #zoom-in-button
{
  list-style-image: url("moz-icon://stock/add?size=toolbar") !important;
}
:root[uidensity=touch] #zoom-controls[cui-areatype="toolbar"] > #zoom-in-button
{
  list-style-image: url("moz-icon://stock/add?size=dialog") !important;
}

#feed-button
{
  list-style-image: url("moz-icon://stock/news-feed?size=menu") !important;
}
:root:not([uidensity=compact]) #feed-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/news-feed?size=toolbar") !important;
}
:root[uidensity=touch] #feed-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/news-feed?size=dialog") !important;
}

#library-button
{
  list-style-image: url("moz-icon://stock/applications-libraries?size=menu") !important;
}
:root:not([uidensity=compact]) #library-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/applications-libraries?size=toolbar") !important;
}
:root[uidensity=touch] #library-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/applications-libraries?size=dialog") !important;
}

#webide-button
{
  list-style-image: url("moz-icon://stock/applications-internet?size=menu") !important;
}
:root:not([uidensity=compact]) #webide-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/applications-internet?size=toolbar") !important;
}
:root[uidensity=touch] #webide-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/applications-internet?size=dialog") !important;
}

#developer-button
{
  list-style-image: url("moz-icon://stock/applications-development?size=menu") !important;
}
:root:not([uidensity=compact]) #developer-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/applications-development?size=toolbar") !important;
}
:root[uidensity=touch] #developer-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/applications-development?size=dialog") !important;
}

#print-button
{
  list-style-image: url("moz-icon://stock/document-print?size=menu") !important;
}
:root:not([uidensity=compact]) #print-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/document-print?size=toolbar") !important;
}
:root[uidensity=touch] #print-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/document-print?size=dialog") !important;
}

#bookmarks-menu-button
{
  list-style-image: url("moz-icon://stock/user-bookmarks?size=menu") !important;
}
:root:not([uidensity=compact]) #bookmarks-menu-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/user-bookmarks?size=toolbar") !important;
}
:root[uidensity=touch] #bookmarks-menu-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/user-bookmarks?size=dialog") !important;
}

#fullscreen-button
{
  list-style-image: url("moz-icon://stock/window_fullscreen?size=menu") !important;
}
:root:not([uidensity=compact]) #fullscreen-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/window_fullscreen?size=toolbar") !important;
}
:root[uidensity=touch] #fullscreen-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/window_fullscreen?size=dialog") !important;
}

#new-window-button
{
  list-style-image: url("moz-icon://stock/stock_new-window?size=menu") !important;
}
:root:not([uidensity=compact]) #new-window-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/stock_new-window?size=toolbar") !important;
}
:root[uidensity=touch] #new-window-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/stock_new-window?size=dialog") !important;
}

#panic-button
{
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu") !important;
}
:root:not([uidensity=compact]) #panic-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/gtk-delete?size=toolbar") !important;
}
:root[uidensity=touch] #panic-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/gtk-delete?size=dialog") !important;
}

#email-link-button
{
  list-style-image: url("moz-icon://stock/mail-send?size=menu") !important;
}
:root:not([uidensity=compact]) #email-link-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/mail-send?size=toolbar") !important;
}
:root[uidensity=touch] #email-link-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/mail-send?size=dialog") !important;
}

#preferences-button
{
  list-style-image: url("moz-icon://stock/gtk-preferences?size=menu") !important;
}
:root:not([uidensity=compact]) #preferences-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/gtk-preferences?size=toolbar") !important;
}
:root[uidensity=touch] #preferences-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/gtk-preferences?size=dialog") !important;
}

#characterencoding-button
{
  list-style-image: url("moz-icon://stock/font?size=menu") !important;
}
:root:not([uidensity=compact]) #characterencoding-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/font?size=toolbar") !important;
}
:root[uidensity=touch] #characterencoding-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/font?size=dialog") !important;
}

/* #sidebar-button */

#find-button
{
  list-style-image: url("moz-icon://stock/find?size=menu") !important;
}
:root:not([uidensity=compact]) #find-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/find?size=toolbar") !important;
}
:root[uidensity=touch] #find-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/find?size=dialog") !important;
}

#open-file-button
{
  list-style-image: url("moz-icon://stock/gtk-open?size=menu") !important;
}
:root:not([uidensity=compact]) #open-file-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/gtk-open?size=toolbar") !important;
}
:root[uidensity=touch] #open-file-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/gtk-open?size=dialog") !important;
}

#save-page-button
{
  list-style-image: url("moz-icon://stock/gtk-save?size=menu") !important;
}
:root:not([uidensity=compact]) #save-page-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/gtk-save?size=toolbar") !important;
}
:root[uidensity=touch] #save-page-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/gtk-save?size=dialog") !important;
}

#privatebrowsing-button
{
  list-style-image: url("moz-icon://stock/avatar-default?size=menu") !important;
}
:root:not([uidensity=compact]) #privatebrowsing-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/avatar-default?size=toolbar") !important;
}
:root[uidensity=touch] #privatebrowsing-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/avatar-default?size=dialog") !important;
}

#sync-button
{
  list-style-image: url("moz-icon://stock/emblem-shared?size=menu") !important;
}
:root:not([uidensity=compact]) #sync-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/emblem-shared?size=toolbar") !important;
}
:root[uidensity=touch] #sync-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/emblem-shared?size=dialog") !important;
}

#history-panelmenu
{
  list-style-image: url("moz-icon://stock/document-open-recent?size=menu") !important;
}
:root:not([uidensity=compact]) #history-panelmenu[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/document-open-recent?size=toolbar") !important;
}
:root[uidensity=touch] #history-panelmenu[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/document-open-recent?size=dialog") !important;
}

#add-ons-button
{
  list-style-image: url("moz-icon://stock/extension?size=menu") !important;
}
:root:not([uidensity=compact]) #add-ons-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/extension?size=toolbar") !important;
}
:root[uidensity=touch] #add-ons-button[cui-areatype="toolbar"]
{
  list-style-image: url("moz-icon://stock/extension?size=dialog") !important;
}

#nav-bar-overflow-button
{
  list-style-image: url("moz-icon://stock/go-jump?size=menu") !important;
}
:root:not([uidensity=compact]) #nav-bar-overflow-button
{
  list-style-image: url("moz-icon://stock/go-jump?size=toolbar") !important;
}
:root[uidensity=touch] #nav-bar-overflow-button
{
  list-style-image: url("moz-icon://stock/go-jump?size=dialog") !important;
}

#PanelUI-button .toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon
{
  -moz-appearance: none !important;
}
#PanelUI-menu-button .toolbarbutton-icon
{
  list-style-image: url("moz-icon://stock/stock_properties?size=menu") !important;
}
:root:not([uidensity=compact]) #PanelUI-menu-button .toolbarbutton-icon
{
  list-style-image: url("moz-icon://stock/stock_properties?size=toolbar") !important;
}
:root[uidensity=touch] #PanelUI-menu-button .toolbarbutton-icon
{
  list-style-image: url("moz-icon://stock/stock_properties?size=dialog") !important;
}

.bookmark-item {
  list-style-image: url("moz-icon://stock/applications-internet?size=toolbar") !important;
}
.bookmark-item[container], treechildren::-moz-tree-image(title, container) {
  list-style-image: url("moz-icon://stock/gtk-directory?size=toolbar") !important;
}

#PlacesChevron
{
  list-style-image: url("moz-icon://stock/go-jump?size=toolbar") !important;
  -moz-appearance: toolbarbutton !important;
}

#nav-bar .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
:root:not([uidensity=compact]) #nav-bar .toolbarbutton-icon {
  width: 24px !important;
  height: 24px !important;
}
:root[uidensity=touch] #nav-bar .toolbarbutton-icon {
  width: 32px !important;
  height: 32px !important;
}

/* remove additional border on hover/click on some buttons (e.g. PanelUI) */
:root:-moz-lwtheme-brighttext, toolbar[brighttext]
{
  --toolbarbutton-hover-background: none !important;
  --toolbarbutton-active-background: none !important;
  --backbutton-active-background: none !important;
}
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #nav-bar[brighttext] > #PanelUI-button {
  border: none !important;
  margin-left: 0px !important;
}

/* downloads button */
#downloads-indicator-anchor {
  min-width: 16px !important;
  min-height: 16px !important;
}
:root:not([uidensity=compact]) #downloads-indicator-anchor {
  min-width: 24px !important;
  min-height: 24px !important;
}
:root[uidensity=touch] #downloads-indicator-anchor {
  min-width: 32px !important;
  min-height: 32px !important;
}

#downloads-button {
  list-style-image: url("moz-icon://stock/go-down?size=menu") !important;
}
:root:not([uidensity=compact]) #downloads-button {
  list-style-image: url("moz-icon://stock/go-down?size=toolbar") !important;
}
:root[uidensity=touch] #downloads-button {
  list-style-image: url("moz-icon://stock/go-down?size=dialog") !important;
}

:root[uidensity=compact] #downloads-indicator-progress-outer{
  background-size: 16px !important;
}
#downloads-indicator-progress-outer {
  -moz-context-properties: fill;
  fill: Highlight !important;
  background-size: 24px !important;
}
:root[uidensity=touch] #downloads-indicator-progress-outer{
  background-size: 32px !important;
}

:root[uidensity=compact] #downloads-indicator-icon {
  background-image: url("moz-icon://stock/go-down?size=menu") !important;
  background-size: 100% !important;
}
#downloads-indicator-icon {
  background-image: url("moz-icon://stock/go-down?size=toolbar") !important;
  background-size: 100% !important;
}
:root[uidensity=touch] #downloads-indicator-icon {
  background-image: url("moz-icon://stock/go-down?size=dialog") !important;
  background-size: 100% !important;
}

#downloads-indicator-progress-inner {
  fill: Highlight !important;
  background-size: 16px !important;
  animation-name: indicatorArrowProgressCompact !important;
}
:root:not([uidensity=compact]) #downloads-indicator-progress-inner {
  background-size: 24px !important;
  animation-name: indicatorArrowProgressNormal !important;
}
:root[uidensity=touch] #downloads-indicator-progress-inner {
  background-size: 32px !important;
  animation-name: indicatorArrowProgressTouch !important;
}
#downloads-indicator-progress-inner:-moz-locale-dir(rtl) {
  animation-name: indicatorArrowProgressCompactRTL !important;
}
:root:not([uidensity=compact]) #downloads-indicator-progress-inner:-moz-locale-dir(rtl) {
  animation-name: indicatorArrowProgressNormalRTL !important;
}
:root[uidensity=touch] #downloads-indicator-progress-inner:-moz-locale-dir(rtl) {
  animation-name: indicatorArrowProgressTouchRTL !important;
}

@keyframes indicatorArrowProgressCompact {
  0% {
    margin-right: 15px;
  fill: Highlight;
  }
  100% {
    margin-right: 1px;
  fill: Highlight;
  }
}
@keyframes indicatorArrowProgressNormal {
  0% {
    margin-right: 23px;
  fill: Highlight;
  }
  100% {
    margin-right: 1px;
  fill: Highlight;
  }
}
@keyframes indicatorArrowProgressTouch {
  0% {
    margin-right: 31px;
  fill: Highlight;
  }
  100% {
    margin-right: 1px;
  fill: Highlight;
  }
}
@keyframes indicatorArrowProgressCompactRTL {
  0% {
    margin-left: 15px;
  fill: Highlight;
  }
  100% {
    margin-left: 1px;
  fill: Highlight;
  }
}
@keyframes indicatorArrowProgressNormalRTL {
  0% {
    margin-left: 23px;
  fill: Highlight;
  }
  100% {
    margin-left: 1px;
  fill: Highlight;
  }
}
@keyframes indicatorArrowProgressTouchRTL {
  0% {
    margin-left: 31px;
  fill: Highlight;
  }
  100% {
    margin-left: 1px;
  fill: Highlight;
  }
}



/* change icons of PanelUI */

#appMenu-fxa-label, #appMenu-fxa-icon {
  list-style-image:  url("moz-icon://stock/emblem-shared?size=menu") !important;
}
#appMenu-new-window-button {
  list-style-image:  url("moz-icon://stock/window_new?size=menu") !important;
}
#appMenu-private-window-button {
  list-style-image:  url("moz-icon://stock/avatar-default?size=menu") !important;
}
#appMenuRestoreLastSession {
  list-style-image:  url("moz-icon://stock/undo?size=menu") !important;
}
#appMenu-zoomReduce-button {
  list-style-image:  url("moz-icon://stock/remove?size=menu") !important;
}
#appMenu-zoomEnlarge-button {
  list-style-image:  url("moz-icon://stock/add?size=menu") !important;
}
#appMenu-fullscreen-button {
  list-style-image:  url("moz-icon://stock/window_fullscreen?size=menu") !important;
}
#appMenu-cut-button {
  list-style-image:  url("moz-icon://stock/edit-cut?size=menu") !important;
}
#appMenu-copy-button {
  list-style-image:  url("moz-icon://stock/edit-copy?size=menu") !important;
}
#appMenu-paste-button {
  list-style-image:  url("moz-icon://stock/edit-paste?size=menu") !important;
}
#appMenu-library-button {
  list-style-image:  url("moz-icon://stock/user-bookmarks?size=menu") !important;
}
#appMenu-addons-button {
  list-style-image:  url("moz-icon://stock/extension?size=menu") !important;
}
#appMenu-preferences-button {
  list-style-image:  url("moz-icon://stock/gtk-preferences?size=menu") !important;
}
#appMenu-customize-button {
  list-style-image:  url("moz-icon://stock/preferences-theme?size=menu") !important;
}
#appMenu-open-file-button {
  list-style-image:  url("moz-icon://stock/gtk-open?size=menu") !important;
}
#appMenu-open-file-button > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
#appMenu-open-file-button > .toolbarbutton-text {
  padding-left: 8px !important;
}
#appMenu-save-file-button {
  list-style-image:  url("moz-icon://stock/gtk-save?size=menu") !important;
}
#appMenu-save-file-button > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
#appMenu-save-file-button > .toolbarbutton-text {
  padding-left: 8px !important;
}
#appMenu-print-button {
  list-style-image:  url("moz-icon://stock/gtk-print?size=menu") !important;
}
#appMenu-find-button, #panelMenu_searchBookmarks {
  list-style-image:  url("moz-icon://stock/gtk-find?size=menu") !important;
}
#appMenu-more-button {
  list-style-image:  url("moz-icon://stock/preferences-other?size=menu") !important;
}
#appMenu-more-button > .toolbarbutton-icon{
  width: 16px !important;
  height: 16px !important;
}
#appMenu-more-button > .toolbarbutton-text {
  padding-left: 8px !important;
}
#appMenu-developer-button {
  list-style-image:  url("moz-icon://stock/applications-development?size=menu") !important;
}
#appMenu-developer-button > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
#appMenu-developer-button > .toolbarbutton-text {
  padding-left: 8px !important;
}
#appMenu-help-button {
  list-style-image:  url("moz-icon://stock/help?size=menu") !important;
}
#appMenu-quit-button {
  list-style-image:  url("moz-icon://stock/gtk-quit?size=menu") !important;
}
#panelMenu_bookmarkingTools {
  list-style-image:  url("moz-icon://stock/gtk-preferences?size=menu") !important;
}
#panelMenuBookmarkThisPage {
  list-style-image:  url("moz-icon://stock/bookmark_add?size=menu") !important;
}
#appMenu-library-bookmarks-button {
  list-style-image:  url("moz-icon://stock/user-bookmarks?size=menu") !important;
}
#appMenu-library-pocket-button {
  fill: rgb(239, 64, 86) !important;
}
#appMenu-library-history-button {
  list-style-image:  url("moz-icon://stock/document-open-recent?size=menu") !important;
}
#appMenu-library-downloads-button {
  list-style-image:  url("moz-icon://stock/go-bottom?size=menu") !important;
}
#appMenu-library-remotetabs-button {
  list-style-image:  url("moz-icon://stock/emblem-shared?size=menu") !important;
}
#appMenu-library-screenshots > .toolbarbutton-icon {
  list-style-image:  url("moz-icon://stock/monitor?size=menu") !important;
}


/* change icons of urlbar and searchbar */
.searchbar-search-icon {
  list-style-image: url("moz-icon://stock/search?size=menu") !important;
  width: 16px !important;
  height: 16px !important;
}
.search-go-button {
  list-style-image:  url("moz-icon://stock/go-right?size=menu") !important;
}
.urlbar-go-button {
  list-style-image:  url("moz-icon://stock/go-right?size=menu") !important;
}
.urlbar-history-dropmarker {
  list-style-image:  url("moz-icon://stock/go-down?size=menu") !important;
}
.urlbar-history-dropmarker > .dropmarker-icon {
  width: 16px !important;
  height: 16px !important;
}
#identity-icon {
  list-style-image: url("moz-icon://stock/info?size=menu") !important;
}
#urlbar[pageproxystate="invalid"] > #identity-box > #identity-icon {
  list-style-image: url("moz-icon://stock/search?size=menu") !important;
}
#star-button {
  list-style-image: url("moz-icon://stock/non-starred?size=menu") !important;
}
#star-button[starred] {
  list-style-image: url("moz-icon://stock/starred?size=menu") !important;
}
#pageActionButton {
  list-style-image: url("moz-icon://stock/go-jump?size=menu") !important;
}
#pocket-button {
  fill: rgb(239, 64, 86) !important;
}
#reader-mode-button {
  list-style-image: url("moz-icon://stock/document?size=menu") !important;
}


/* change urlbar menu icons */
#pageAction-panel-bookmark {
  list-style-image: url("moz-icon://stock/user-bookmarks?size=menu") !important;
}
#user-bookmarks {
  list-style-image: url("moz-icon://stock/user-bookmarks?size=menu") !important;
}
#pageAction-panel-copyURL {
  list-style-image: url("moz-icon://stock/edit-copy?size=menu") !important;
}
#pageAction-panel-emailLink {
  list-style-image: url("moz-icon://stock/mail-send?size=menu") !important;
}
#pageAction-panel-sendToDevice {
  list-style-image: url("moz-icon://stock/phone?size=menu") !important;
}
#pageAction-panel-screenshots {
  list-style-image: url("moz-icon://stock/monitor?size=menu") !important;
}
.ac-type-icon[type=bookmark] {
  list-style-image: url("moz-icon://stock/user-bookmarks?size=menu") !important;
}
.ac-type-icon[type=keyword],
.ac-site-icon[type=searchengine] {
  list-style-image: url("moz-icon://stock/search?size=menu") !important;
}
.ac-type-icon[type=switchtab],
.ac-type-icon[type=remotetab] {
  list-style-image: url("moz-icon://stock/tab-new?size=menu") !important;
}
#editBookmarkPanelStarIcon {
  list-style-image: url("moz-icon://stock/user-bookmarks?size=dialog") !important;
}
.search-panel-tree > .autocomplete-treebody::-moz-tree-image(fromhistory) {
  list-style-image: url("moz-icon://stock/document-open-recent?size=menu") !important;
}


/* change icons in sidebar switcher */
#sidebar-switcher-bookmarks > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("moz-icon://stock/starred?size=menu") !important;
}

#sidebar-switcher-history > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("moz-icon://stock/document-open-recent?size=menu") !important;
}

#sidebar-switcher-tabs > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("moz-icon://stock/emblem-shared?size=menu") !important;
}


